/* styles.css */

body {
  background-color: black;
}

.main__container {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: url("/assets/fireworks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #ffd700;
  background-color: black;
}

#main-countdown {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 121px;
  padding: 20px;
  margin-bottom: 30px;
}

#countdown-timer {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

.time-unit {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.time-unit span:first-child {
  font-size: 1.2em;
}

.timezone-clocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.clock {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.clock:hover {
  background-color: grey;
}

.decor-items {
  font-size: 3em;
}

.footer {
  text-align: center;
}

.timezone-title {
  width: fit-content;
}

.footer {
  color: white;
}

@media (max-width: 768px) {
  #countdown-timer {
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
  }

  .time-unit {
    margin-bottom: 10px;
  }
}
