.main__container {
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-countdown {
  position: relative;
  z-index: 2;
}

#countdown-timer {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.time-unit {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.time-unit span:first-child {
  font-size: 1.2em;
}

.timezone-clocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.timezone_title {
  display: flex;
  justify-content: center;
  color: rgb(225, 225, 145);
}

.clock {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.clock:hover {
  background-color: grey;
}

.decor-items {
  font-size: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .main__container {
    padding: 20px;
    height: auto;
    min-height: 95vh;
    background-size: cover;
    background-image: top center;
  }

  #countdown-timer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .time-unit {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
}
