header {
  text-align: center;
}

.header__title {
  font-size: 4em;
  display: flex;
  position: relative;
  justify-content: center;
  color: white;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2em;
  }
}
