.footer {
  text-align: center;
  color: white;
  padding: 1rem 0 0rem;
}

.footer__credit {
  color: grey;
  font-size: 0.8em;
}

.footer__link {
  height: 24px;
  width: 24px;
  display: flex;
  color: white;
}
